.card {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(4, auto);

	grid-column-gap: 1em;
	align-items: center;

	box-sizing: border-box;
	padding: 1.5em 1em;
	margin: 1.3em;

	background-color: var(--branco);
	border: 1px;
	border-radius: 10px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.card__chamada {
	grid-column: 1;
	grid-row: 1;

	font-family: var(--fonte-chamada);
	font-weight: 700;
	font-size: 16px;

	color: var(--laranja-fonte);
}

.card__titulo {
	grid-column: 1;
	grid-row: 2;

	font-family: var(--fonte-chamada);
	font-weight: 700;
	font-size: 18px;

	color: var(--azul-escuro);
}

.card__texto {
	grid-column: 1;
	grid-row: 3;

	font-family: var(--fonte-chamada);
	font-weight: 400;
	font-size: 14px;	
}

.card__icones {
	display: flex;
	grid-column: 1;
	grid-row: 4;
}

.card__icones img {
	width: 16%;
	padding: 0 .75em;

	transition: .2s;
}

.card__angular {
	grid-column: 2;
	grid-row: span 3;

	width: 100%;
	justify-self: center;
	align-self: center;
}

.card__botao {
	grid-column: 2;
	grid-row: 4;

	font-family: var(--fonte-chamada);
	font-weight: 700;
	font-size: 16px;
	color: var(--branco);

	background-color: var(--laranja-fonte);
	padding: 1em 2em;
	border: none;

	margin-top: 1rem;
}

.card__botao:active {
	background-color: var(--laranja-claro);
	transition: .2s;
	cursor: pointer;
}

.card__icones>img:active {
	transition: .2s;
	transform: scale(1.2);
	cursor: pointer;
}


@media screen and (min-width: 1024px) {
	.card {
		width: 45%;
		margin: 3em auto;
		margin-bottom: 2em;
	}

	.card__icones img {
		width: 2rem	;

		transition: .2s;
	}

	.card__botao:hover {
		background-color: var(--laranja-claro);
		transition: .2s;
		cursor: pointer;
	}

	.card__icones>img:hover {
		transition: .2s;
		transform: scale(1.2);
		cursor: pointer;
	}
}

@media screen and (min-width: 1728px) {
	.card {
		grid-column-gap: 4em;
	}

	.card__chamada {
		font-size: 32px;
	}
	
	.card__texto {
		font-size: 16px;	
	}
}