.carrossel__titulo {
	font-family: var(--fonte-chamada);
	font-weight: 700;
	font-size: 18px;

	text-transform: uppercase;
	text-align: center;
	color: var(--laranja-fonte);
	background-color: var(--branco);
	
	padding: 1em 0 .5em 0;
}

.swiper-slide img {
	width: 100%;
}

.swiper-button-prev, .swiper-button-next {
	display: none;
}

.swiper-pagination {
	position: initial;
	padding: .5em 0 .7em 0;
}


@media screen and (min-width: 1024px) {
	.carrossel__titulo {
		font-size: 26px;

		padding: 1.5em 0 .65em 0;
	}

	.swiper {
		text-align: center;
		width: 80%;
	}

	.swiper-slide img {
		width: 50%;
	}

	.swiper-button-prev, .swiper-button-next {
		display: initial;
		top: 60%;
	}

	.swiper-pagination {
		position: initial;
		padding: 1.5em 0 2em 0;
	}	
}

@media screen and (min-width: 1728px) {
	.carrossel__titulo {
		font-size: 32px;
	}

	.container__carrossel {	
		display: flex;
		align-items: center;

		grid-column-gap: 2em;
		padding: 0 8em;
	}

	.swiper-pagination {
		position: initial;
		margin: 1em 0;
		padding: 0;
	}

	.swiper {
		text-align: center;
		width: 60%;
	}
}